@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 400px;
  min-width: 500px;
}

body {
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 500px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
  color: #ffadad;
  font-weight: 800;
  padding-top: 0.25rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.nav-container {
  padding: 0rem 0.5rem;
  background-color: #85b6ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 1rem 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav-container a {
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  padding: 1.5rem 1.5rem;
  background-color: #85b6ff;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-decoration: none;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.nav-container a:hover {
  background-color: #71a9fd;
}

#moodForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

#moodForm .emojiContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  padding: 1rem;
}

#moodForm .emojiContainer .emoji_child {
  font-size: 3em;
  position: relative;
  padding: 0.5rem;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

#moodForm .emojiContainer .emojiRadio {
  position: absolute;
  top: -50px;
  left: 50px;
}

#moodForm .emojiContainer .emoji_child:hover {
  background-color: #ffadad;
}

#emotionNote {
  padding: 0.5rem;
  margin: 1rem auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 400px;
  min-height: 50px;
  border-radius: 0.25rem;
  border: 0.15px solid #dddddd;
}

textarea::-webkit-input-placeholder {
  font-size: 0.9rem;
  text-align: center;
}

textarea:-ms-input-placeholder {
  font-size: 0.9rem;
  text-align: center;
}

textarea::-ms-input-placeholder {
  font-size: 0.9rem;
  text-align: center;
}

textarea::placeholder {
  font-size: 0.9rem;
  text-align: center;
}

.submitButton {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #85b6ff;
  color: white;
  outline: none;
  border: none;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto;
  margin: 1rem auto;
  border-radius: 0.25rem;
  padding: 1rem;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.25px solid rgba(230, 230, 230, 0.8);
  padding: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: #070410;
  text-align: center;
  cursor: pointer;
  -webkit-transition: ease-in 0.15s;
  transition: ease-in 0.15s;
}

.grid-item:hover {
  background-color: #85b6ff;
  color: white;
}

#logContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  text-align: left;
}

#logContainer h3 {
  margin: 0 auto;
}

#logContainer p {
  padding: 0.25rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

.calendarHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#calendarHeading {
  font-family: Inter;
  color: #ffadad;
  font-weight: 800;
  margin-top: 1rem;
}
/*# sourceMappingURL=main.css.map */