<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analyses</title>
  </head>
  <body>
    <form method="POST">
      <label for="mood">Tell us your mood:</label>
      <textarea id="mood" name="text1" rows="5" cols="40"></textarea>
      <button>Submit!</button>
    </form>
    {% if final %}
        <div>
            <h2>The Sentiment of</h2> '{{ text1 }}' <h2>is {{ final *100}}% positive !</h2>
            {% else %}
            <p></p>
            {% endif %}
        </div>
  </body>
</html>
